<div class="flexbox-container">

  <div style="height: 225px; width: 300px">
    
    <eikos-bar-chart
      [data]="barData"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [propID]="barPropID"
      [color]="barColor"
      [title]="barTitle"
      [xAxisAngle]="axisAngle"
      [yAxisAngle]="axisAngle"
      [divHeight]="height"
      [divWidth]="width"
    >
    </eikos-bar-chart>
  </div>
<!--
  <eikos-bubble-chart
    [data]="bbcData"
    [propID]="bubblePropID"
    [title]="bubbleTitle"
    [isTime]="falseVar"
    [isDate]="falseVar"
    [themeColors]="bubbleColors"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [divHeight]="bbcDivHeight"
    [divWidth]="bbcDivWidth"

  ></eikos-bubble-chart> -->
<!--
  <eikos-heat-map
    [data]="heatData"
    [colors]="pieColors"
    [divHeight]="height"
    [divWidth]="width"

  ></eikos-heat-map> -->
<!--
  <eikos-heat-map
    [data]="heatData2"
    [dataType]="dataType"
    [colors]="pieColors"
    [propID]="heatPropID"
    [xAxisAngle]="xAxisAngle"
    [divHeight]="height"
    [divWidth]="width"

  ></eikos-heat-map> -->
<!-- <div style="height: 225px; width: 300px">
  <eikos-line-plot
    [data]="lineData"
    [propID]="linePropID"
    [title]="lineTitle"
    [color]="lineColor"
    [xAxisLabel]="xAxisLabelDate"
    [yAxisLabel]="yAxisLabel"
    [divHeight]="bbcDivHeight"
    [divWidth]="bbcDivWidth"

  ></eikos-line-plot>
</div> -->
  <!-- <eikos-pie-chart
    [data]="pieData"
    [donutWidth]="donutWidth"
    [propID]="piePropID"
    [colors]="pieColors"
    [title]="pieTitle"
    [divHeight]="height"
    [divWidth]="width"

  ></eikos-pie-chart> -->
<!-- 
  <eikos-punch-card
    [data]="punchData"
    [propID]="punchPropID"
    [colors]="punchColors"
    [title]="punchTitle"
    [axisColors]="axisColor"
  ></eikos-punch-card> -->

  <!-- <eikos-sunburst
    [data]="sunburstData"
    [propID]="sunburstPropID"
    [title]="sunburstTitle"
    [divHeight]="height"
    [divWidth]="width"
  ></eikos-sunburst> -->

</div>
