<button (click)="onclickfn()">Button</button>

<div class="flexbox-container">
  <div style="height: 500px; width: 500px">
      <eikos-bar-chart
      [data]="barData"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [propID]="barPropID"
      [color]="barColor"
      [title]="barTitle"
      [xAxisAngle]="axisAngle"
      [yAxisAngle]="axisAngle"
      [divHeight]="hundoPct"
      [divWidth]="hundoPct"
      >
    </eikos-bar-chart>
  </div>
  <div style="height: 500px; width: 500px">
      <eikos-bar-chart
      [data]="barData2"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [color]="barColor"
      [title]="barTitle"
      [xAxisAngle]="axisAngle"
      [yAxisAngle]="axisAngle"
      [divHeight]="hundoPct"
      [divWidth]="hundoPct"
      >
    </eikos-bar-chart>
  </div>
  <!--

  <div style="height: 500px; width: 500px">
    <eikos-bubble-chart
      [data]="bbcData"
      [propID]="bubblePropID"
      [title]="bubbleTitle"
      [isTime]="falseVar"
      [isDate]="falseVar"
      [themeColors]="bubbleColors"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [divHeight]="bbcDivHeight"
      [divWidth]="donutWidthPct"
    ></eikos-bubble-chart>
  </div>

  <div style="height: 500px; width: 500px">
    <eikos-heat-map
      [data]="heatData"
      [colors]="pieColors"
      [divHeight]="plotPct"
      [divWidth]="plotPct"
    ></eikos-heat-map>
  </div>

  <div style="height: 500px; width: 500px">
    <eikos-heat-map
      [data]="heatData2"
      [dataType]="dataType"
      [colors]="pieColors"
      [propID]="heatPropID"
      [xAxisAngle]="xAxisAngle"
      [divHeight]="plotPct"
      [divWidth]="plotPct"
    ></eikos-heat-map>
  </div>

-->

<div style="height: 500px; width: 500px">
    <eikos-line-plot
    [data]="lineData"
    [propID]="linePropID"
    [title]="lineTitle"
    [color]="lineColor"
    [xAxisLabel]="xAxisLabelDate"
    [yAxisLabel]="yAxisLabel"
    [divHeight]="hundoPct"
    [divWidth]="hundoPct"
    ></eikos-line-plot>
  </div>


  <div style="height: 500px; width: 500px">
    <eikos-line-plot
      [data]="alineData2"
      [title]="lineTitle"
      [color]="lineColor"
      [xAxisLabel]="xAxisLabelDate"
      [yAxisLabel]="yAxisLabel"
      [divHeight]="fiftyPct"
      [divWidth]="hundoPct"
      ></eikos-line-plot>
    </div>

    <!--

  <div style="height: 500px; width: 500px">
    <eikos-pie-chart
      [data]="pieData"
      [donutWidth]="donutWidth"
      [propID]="piePropID"
      [colors]="pieColors"
      [title]="pieTitle"
      [divHeight]="bbcDivHeight"
      [divWidth]="bbcDivHeight"
    ></eikos-pie-chart>
  </div>


  <div style="height: 500px; width: 500px">
    <eikos-pie-chart
      [data]="pieData2"
      [colors]="pieColors"
      [title]="pieTitle"
      [divHeight]="plotPct"
      [divWidth]="hundoPct"
    ></eikos-pie-chart>
  </div>

  <div style="height: 600px; width: 500px">
    <eikos-punch-card
      [data]="punchData"
      [propID]="punchPropID"
      [colors]="punchColors"
      [title]="punchTitle"
      [axisColors]="axisColor"
      [divHeight]="plotPct"
      [divWidth]="plotPct"
    ></eikos-punch-card>
  </div>

  <div style="height: 500px; width: 500px">
    <eikos-sunburst
    [data]="sunburstData"
    [propID]="sunburstPropID"
    [title]="sunburstTitle"
    [divHeight]="hundoPct"
    [divWidth]="hundoPct"
    ></eikos-sunburst>
  </div>


  <div style="height: 500px; width: 500px">
    <eikos-sunburst
    [data]="sunburstData2"
    [title]="sunburstTitle"
    [divHeight]="hundoPct"
    [divWidth]="hundoPct"
    ></eikos-sunburst>
  </div>
-->
</div>
